#labelling.morse1840
  %h2#about About
  %div.information
    %p
      This site is an HTML5/Javascript rewrite of Ward Cunningham's
      %a{title: "Morse source on Github", href: "https://github.com/WardCunningham/morse"} 
        morse code teaching software.

      For more background, check out 
      %a{title: "Ward Cunningham's Morse description", href: 'http://c2.com/morse/'} 
        the explanation on his site.
  %h2#credits Credits
  %div.information
    %p
      The picture of the key came from the 
      %a{:title=>"W1TP Telegraph Museum", :href => "http://w1tp.com/" } 
        W1TP Telegraph Museum.
    %p 
      %a{:title=>"Generating wav files", :href => "http://www.codeproject.com/Articles/85339/Morse-Code-Generation-from-Text" } This page
      has some useful explanations about how to generate tones and envelopes 
      for the sine wave.

  %h2#credits Contact
  %div.information
    %p
      Comments or questions? 
      %a{:title=>"Contact me", :href => "http://mar.ly" } Contact me.
    %p
      This project is also
      %a{:title=>"marly on Github", :href => "https://github.com/marly/morse"} on Github.

      
     
