#labelling.morse1840
  %h2#about About
  %div.information
    %p
      This site is an HTML5/Javascript rewrite of  
      %a{:title=>"Github", :href => "https://github.com/WardCunningham/morse"} Ward Cunningham's morse code teaching software.
  %h2#credits Credits
  %div.information
    %p
      The picture of the key came from the 
      %a{:title=>"Generating wav files", :href => "http://chss.montclair.edu/~pererat/perkcol.htm" } W1TP Telegraph Museum.
    %p 
      %a{:title=>"Generating wav files", :href => "http://www.codeproject.com/KB/PHP/MorseCodeGen.aspx" } This site
      has some useful explanations about how to generate tones and envelopes for the sine wave.

  %h2#credits Contact
  %div.information
    %p
      Comments or questions? 
      %a{:title=>"Contact me", :href => "http://mar.ly" } Contact me.
    %p
      This project is also
      %a{:title=>"marly on Github", :href => "https://github.com/marly/morse"} on Github.

      
     
