!!!
%head
  %title Morse
  %link(href="http://fonts.googleapis.com/css?family=Amaranth" rel="stylesheet" type="text/css")
  %link(rel="stylesheet" type="text/css" href="/style.css")
  %script(rel="text/javascript" src="/jquery.js" )
  %script(rel="text/javascript" src="/draw.js" )
%body
  %h1 Learn You A Morse
  %p Type the character you hear.
  =yield

