!!!
%head
  %title Morse
  %link(href="http://fonts.googleapis.com/css?family=Holtwood+One+SC" rel="stylesheet" type="text/css")
  %link(href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css")
  %link(rel="stylesheet" type="text/css" href="/reset.css")
  %link(rel="stylesheet" type="text/css" href="/morse_style.css")
  %script(rel="text/javascript" src="/jquery.js" )
  %script(rel="text/javascript" src="/draw.js" )
  %script(rel="text/javascript" src="/logic.js" )
  %script(rel="text/javascript" src="/events.js" )
%body
  #wrapper
    %h1
      %a(href="/") 
        Learn Morse Code
    =yield
    %div{:class=>"push"}
  #footer
    %ul
      %li 
        %a{:title=>"About", :href => "/about#about"} About
      %li
        %a{:title=>"Credits", :href => "/about#credits"} Credits
      %li 
        %a{:title=>"Contact", :href => "/about#contact"} Contact

